#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  overflow: scroll;
}

p .logo{
  font-size: 15em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

